:root {
    --vermelho: #E50914;
    --preto: #141414;
    --white: #f3f3f3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.container {
    margin-left: 30px;
}

/* ----------- light-mode ----------- */

body.light-mode {
    background: var(--white);
    /* color: black; */
}

header nav.light-mode {
    color: rgb(39, 39, 39);
}


/* ------------- nav-bar ------------- */
header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5px 15px;
}

header .logo {
    color: var(--vermelho);
    /* margin-left: 5px; */
    font-family: 'Arial Black', Times;
    font-size: 40px;

}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #FFF;
}

header nav button {
    /* reset css */
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* --------- filme principal --------- */
main .filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)100%), url('/img/jujustu-kaisen-fundo.jpg');
    height: 400px;
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

main .filme-principal .container {
    width: 60%;
}

main .filme-principal .title {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main .filme-principal .description {
    margin-top: 10px;
    margin-bottom: 40px;
}

main .filme-principal .botoes .botao {
    background-color: rgba(0, 0, 0, .5);
    border: none;
    color: white;
    font-size: 12px;
    padding: 15px 30px;
    margin-right: 15px;
    cursor: pointer;
    transition: .3s ease all;
}

main .filme-principal .botoes .botao:hover {
    background-color: white;
    color: black;
}

main .filme-principal .botoes .botao i {
    padding-right: 10px;
}

main .filme-principal .botoes .botao a {
    text-decoration: none;
}

/* --------- configs carrosel --------- */
.carrosel-filmes {
    margin-top: 5px;
}

.box-filmes {
    height: 100%;
    width: 100%;
    display: block;
}